<%- include('../includes/header.ejs') %>
        <title>ABC Pharmacy</title>
    </head>
    <body>
        <%- include("../includes/navBar.ejs") %>
        <main>
            <h3>
                <% if (error) { %>
                    <%= error %>
                    <% if(error.includes('email')) { %>
                        <h4><a href="/signup">Click here</a>to register your email!</h4>
                        <% } %>
                <% } %>
            </h3>
            <form action="/login" method="post">
                <label for="">Email</label>
                <input type="email" name="email" autocomplete="username">
                <label for="">Password</label>
                <input type="password" name="pwd" autocomplete="pwd">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit">Login</button>
                <button><a href="/reset-password">Forgot Password</a></button>
            </form>
        </main>
    <%- include("../includes/footer.ejs") %>