<%- include('../includes/header.ejs') %>
        <title>Medi-life Store</title>
        <script>
            function validate(e) {
                let pwd = document.getElementById('pwd').value;
                let cnfrmpwd = document.getElementById('cnfrmpwd').value;
                if(pwd !== cnfrmpwd) {
                    e.preventDefault();
                }
            }
        </script>
    </head>
    <body>
        
        <%- include("../includes/navBar.ejs") %>
        <main>
            <h3>
                <% if (error) { %>
                <%= error %>
                <% } %>
            </h3>
            <form action="/new-password" method="post">
                <label><%= email%></label>
                <br>
                <label for="">Password</label>
                <input type="password" name="pwd" id="pwd" autocomplete="new-password"> 
                <br>
                <label for="">Confirm Password</label>
                <input type="password" name="cnfrmpwd" id="cnfrmpwd" autocomplete="new-password">
                <br>
                <input type="hidden" name="token" value="<%= token %>">
                <input type="hidden" name="userId" value="<%= userId %>">
                <button type="submit" onclick="validate(event)">Update Password</button>
            </form>
        </main>
    <%- include("../includes/footer.ejs") %>