<%- include('../includes/header.ejs') %>
        <title>ABC Pharmacy</title>
        <script>
            function validate(e) {
                let pwd = document.getElementById('pwd').value;
                let cnfrmpwd = document.getElementById('cnfrmpwd').value;
                if(pwd !== cnfrmpwd) {
                    e.preventDefault();
                }
            }
        </script>
    </head>
    <body>
        <%- include("../includes/navBar.ejs") %>
        <main>
            <h3>
                <% if (error) { %>
                <%= error %>
                <% } %>
            </h3>
            <form action="/signup" method="post">
                <label for="">Name</label>
                <input type="name" name="name" >
                <label for="">Gender</label>
                <input type="gender" name="gender" >
                <label for="">Age</label>
                <input type="age" name="age" >
                <label for="">Address</label>
                <input type="address" name="address" >
                <label for="">Contact</label>
                <input type="contact" name="contact" >
                <label for="">Email</label>
                <input type="email" name="email" >
                
                <label for="">Password</label>
                <input type="password" name="password" id="password" autocomplete="new-password"> 

                <label for="">Confirm Password</label>
                <input type="password" name="cnfrmpwd" id="cnfrmpwd" autocomplete="new-password">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" onclick="validate(event)">Sign Up</button>
            </form>
        </main>
    <%- include("../includes/footer.ejs") %>