<%- include('../includes/header.ejs') %>
        <title><%= pageTitle %></title>
    </head>
    <body>
        <%- include("../includes/navBar.ejs") %>
        <main>
            <h1><%= mainContent %></h1>
            <form action="/signup" method="post">
                <label for="">Email</label>
                <input type="email" name="email">
                
                <label for="">Password</label>
                <input type="password" name="pwd"> 

                <label for="">Confirm Password</label>
                <input type="password" name="cnfrmpwd">

                <button class="btn" type="submit">Sign Up</button>
            </form>
        </main>
    <%- include("../includes/footer.ejs") %>