<%- include('../includes/header.ejs') %>
        <link rel="stylesheet" href="/css/addMedicine.css">
        <title><%= pageTitle%></title>
    </head>
    <body>
        <%- include("../includes/navBar.ejs") %>
        <main>
            <%= mainContent %>
            <% if (edit) { %>
                <h1>Editing mode is on!</h1>
            <% } else { %>
                <h1>Editing mode is off! </h1>
            <% } %> 
                <form action="/admin/addMed<% if (edit) { %>/<%= medicine.id %><% } %>" method="POST">
                    <label for="name">name</label>
                    <input type="text" name="name" value="<% if (edit) { %><%= medicine.name %><% } %>">
                    <label for="expDate">expDate</label>
                    <input type="text" name="expDate" value="<% if (edit) { %><%= medicine.expDate.getDate() +"/" + (medicine.expDate.getMonth()+1) + "/" +medicine.expDate.getFullYear() %><% } %>">
                    <label for="price">price</label>
                    <input type="text" name="price" value="<% if (edit) { %><%= medicine.price %><% } %>">
                    <label for="medType">medType</label>
                    <input type="text" name="medType" value="<% if (edit) { %><%= medicine.medType %><% } %>">
                    <button type="submit"><% if (edit) { %>Update Medicine<% } else { %>Add Medicine<% } %></button>
                </form>
        </main>
        <%- include("../includes/footer.ejs") %>