<%- include('../includes/header.ejs') %>
        <title>ABC Pharmacy</title>
    </head>
    <body>
        <%- include("../includes/navBar.ejs") %>
        <main>
            <h1>List Of Available Medicines</h1>

            <% if (length > 0) { %>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Expiry Date</th>
                    </tr>
                    <% for (let medicine of medicines) { %>
                    <tr>
                        <td><%= medicine.name %></td>
                        <td><%= medicine.price %></td>
                        <td><%= medicine.expDate.getDate() +"/" + (medicine.expDate.getMonth()+1) + "/" +medicine.expDate.getFullYear() %></td>
                        <td>
                            <button><a href="/admin/medicine/<%= medicine.id %>?edit=true">Edit Medicine</a></button>
                        </td>
                        <td>
                            <button><a href="/admin/delete-medicine/<%= medicine.id %>">Delete Medicine</a></button>
                        </td>
                    </tr>
                    <% } %>
                </table>
                <div>
                    <% if(currPageNo == 1) { %>
                        <% if (prevPageNo !== currPageNo && currPageNo!== nextPageNo ) { %><a href="?page=<%=currPageNo%>"><%=currPageNo%></a><% } %>
                        <% if (hasNextPage) { %><a href="?page=<%=nextPageNo%>"><%=nextPageNo%></a><% } %>
                        <% if (hasNextNextPage) { %><a href="?page=<%=nextNextPageNo%>"><%=nextNextPageNo%></a><% } %>
                    <% } else if( currPageNo == lastPageNo) { %>
                        <% if (hasPrevPrevPage) { %><a href="?page=<%=prevPrevPageNo%>"><%=prevPrevPageNo%></a><% } %>
                        <% if (hasPrevPage) { %><a href="?page=<%=prevPageNo%>"><%=prevPageNo%></a><% } %>
                        <% if (prevPageNo !== currPageNo && currPageNo!== nextPageNo ) { %><a href="?page=<%=currPageNo%>"><%=currPageNo%></a><% } %>
                    <% } else { %>
                        <% if (hasPrevPage) { %><a href="?page=<%=prevPageNo%>"><%=prevPageNo%></a><% } %>
                        <% if (prevPageNo !== currPageNo && currPageNo!== nextPageNo ) { %><a href="?page=<%=currPageNo%>"><%=currPageNo%></a><% } %>
                        <% if (hasNextPage) { %><a href="?page=<%=nextPageNo%>"><%=nextPageNo%></a><% } %>
                    <% } %>
                </div>
            <% } else { %>
                <h3>No Medicines Available!</h3>
            <% } %>
        </main>
    <%- include("../includes/footer.ejs") %>