<!-- <form action="/order" method="post" enctype="multipart/form-data">
    <label for="image">Image</label>
    <input type="file" name="image" id="image" >
    <button type="submit">Proceed to Billing</button>
</form> -->

<%- include('../includes/header.ejs') %>
        <title>ABC Pharmacy</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
        <link rel="stylesheet" type="text/css" href="css/bill.css">
    </head>
    <body>
        <%- include("../includes/navBar.ejs") %>
        <main>
            <h3>
                <% if (error) { %>
                <%= error %>
                <% } %>
            </h3>
            <h1>Your Bill Details:</h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body p-0">
                                        <div class="row p-5">
                                            <div class="col-md-6">
                                                <!-- <img src="http://via.placeholder.com/400x90?text=logo"> -->
                                            </div>
                    
                                            <div class="col-md-6 text-right">
                                                <p class="font-weight-bold mb-1"></p>
                                                <p class="text-muted">Invoice </p>
                                            </div>
                                        </div>
                    
                                        <hr class="my-5">
                    
                                        <div class="row pb-5 p-5">
                                            <div class="col-md-6">
                                                <p class="font-weight-bold mb-4">Client Information</p>
                                                <p class="mb-1"><%=user.name%>></p>
                                                <!-- <p>Acme Inc</p> -->
                                                <p class="mb-1"><%=user.address%></p>
                                                <!-- <p class="mb-1">6781 45P</p> -->
                                            </div>
                    
                                            <!-- <div class="col-md-6 text-right">
                                                <p class="font-weight-bold mb-4">Payment Details</p>
                                                <p class="mb-1"><span class="text-muted">VAT: </span> 1425782</p>
                                                <p class="mb-1"><span class="text-muted">VAT ID: </span> 10253642</p>
                                                <p class="mb-1"><span class="text-muted">Payment Type: </span> Root</p>
                                                <p class="mb-1"><span class="text-muted">Name: </span> John Doe</p>
                                            </div> -->
                                        </div>
                    
                                        <div class="row p-5">
                                            <div class="col-md-12">
                                                <table class="table">
                                                    <%let i = 0; %>
                                                    <thead>
                                                        <tr>
                                                            <th class="border-0 text-uppercase small font-weight-bold">ID</th>
                                                            <th class="border-0 text-uppercase small font-weight-bold">Item</th>
                                                            <!-- <th class="border-0 text-uppercase small font-weight-bold">Description</th> -->
                                                            <th class="border-0 text-uppercase small font-weight-bold">Quantity</th>
                                                            <th class="border-0 text-uppercase small font-weight-bold">Unit Cost</th>
                                                            <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                                                        </tr>
                                                    </thead>
                                                    <% %>
                                                    <tbody>
                                                        <% user.cart.items.forEach( p => { %>
                                                            	<tr>
                                                                    <% i++; %>
                                                                    <td><%= i %></td>   
                                                                    <td><%= p.medicineId.name %></td>
                                                                    <td><%= p.quantity %></td>
                                                                    <td><%= p.medicineId.price %></td>
                                                                    <td><%= p.medicineId.price*p.quantity %></td>
                                                                </tr>
                                                             <% } %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                    
                                        <div class="d-flex flex-row-reverse p-4">
                                            <div class="py-3 px-5 text-right">
                                                <div class="mb-2">Grand Total</div>
                                                <div class="h2 font-weight-light"><%= amt%></div>
                                            </div>
                    
                                            <!-- <div class="py-3 px-5 text-right">
                                                <div class="mb-2">Discount</div>
                                                <div class="h2 font-weight-light">10%</div>
                                            </div>
                    
                                            <div class="py-3 px-5 text-right">
                                                <div class="mb-2">Sub - Total amount</div>
                                                <div class="h2 font-weight-light">$32,432</div>
                                            </div>   -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- <div class="text-light mt-5 mb-5 text-center small">by : <a class="text-light" target="_blank" href="http://totoprayogo.com">totoprayogo.com</a></div> -->
                    
                    </div>
                    
                    <form action="/place-order" method="post"></form>
                    
                </body>
            </html>
            </main>
    <%- include("../includes/footer.ejs") %>