<%- include('../includes/header.ejs') %>
		<title>Medi-life Store</title>
	</head>
	<body>
		<%- include("../includes/navBar.ejs") %>
		<main>
			<h1>Your Orders</h1>

			<% if (orders.length <= 0) { %>
				<h1>Nothing there!</h1>
				<h3>No orders.
					<br>
					<a href="/medicine-list">Click here</a>to add item to cart & place an order.
				</h3>
			<% } else { %>
				<ul>
					<% orders.forEach(order => { %>
						<li>
							<!-- <h4>Order - # <%= order._id %></h4> -->
							Order Price - <%= order.amount %>
							<ul>
								<% order.medicines.forEach( m => { %>
									<li><%= m.medicine.name %> - <%= m.quantity %></li>
								<% }); %>
							</ul>
						</li>
					<% }); %>
				</ul>
			<% } %>
		</main>
	<%- include("../includes/footer.ejs") %>